<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="HubCapturePort" value="48201" />
    <add key="HubBroadcastPort" value="48202" />
    <add key="DefaultSettingsFile" value="hub-settings.xml" />
  </appSettings>
</configuration>
