bin/
obj/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vs/
ipch/
*.aps
*.pch
*.vspscc
*.vssscc
*.pdb
*.cache
*.ilk
*.tlog
*.exp
*.lib
*.dll
*.exe
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

LiveScan3D-master/

packages/
project.lock.json

Thumbs.db
.DS_Store
